body {
  padding: 0;
  margin: 0;
  background-color: $black;
  color: $white;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  width: 100%;
}

.wrapper-second {
  width: 85%;
  margin: 0 auto;
}

h1 {
  font-size: $typo-l;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-size: $typo-m;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  margin: 1.5rem;
}

h3 {
  font-size: $typo-s;
  font-weight: bold;
}

p {
  font-size: $typo-xs;
}

a , button{
  text-decoration: none;
  color: $white;
  background-color: $beige;
  padding: 0.5rem 1.5rem;
  border: none;
}

.color--beige {
  color: $beige;
}
