.blogs {
  .blogs__cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    text-align: left;

    @media (min-width: 50rem) {
      flex-direction: row;
      justify-content: center;
    }
  }

  .blogs__cards-info {
    border: 0.1rem solid $gray-light;
    padding-bottom: 1.5rem;

    img {
      width: 100%;
    }

    h4 {
      padding-left: 1rem;
    }

    p {
      padding-bottom: 1rem;
      padding-left: 1rem;
      line-height: 1.5rem;
    }

    a {
      margin-left: 1rem;
    }
  }
}
